
*{
    
    padding: 0px;
    font-family:  Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    
}

/* menu en haut  */
nav{
    width: 100%;
    margin: 0 auto;
    background-color:  #D3B2C1;
    position: sticky;
    top: 0px;
    z-index: 2;
    
}

nav ul{
    list-style-type: none;
}

nav ul li img{
    height: 30px;
    width: auto;
}
nav ul li{
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-size: 25px;

}

nav a:hover{
    color: purple;
    border-bottom: 2px solid purple;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color:  #FFF5EE;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav ul li:hover .sous{
    display: block;
}
.sous li{
    float:none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/* fin du menu  */
body{
    background-color: 	#D3B2C1;
}


.test{
    position: relative;
    left : 380px;
    bottom :200px;
    width: 60%;
    z-index: 1;
}

.test table{
    border-collapse: separate; /* Séparer les bordures des cellules */
    border-spacing: 20px; /* Espacement entre les cellules */
}

.test td {
    text-align: center;
    border-radius: 25%;
    border: 2px solid #60233f;
    width: 400px;
    padding: 5px;
    font-size: 18px;
    background-color: #af8095;
}

.test img{
    width: 400px;
    height: auto;
    border-radius: 28%;
}




.image{
        width : 20px;
        height : auto;
 }
a{
    text-decoration: none;
    font-size: 20px;
    color:#28121c;


 }



.img_animaux{
    width : 300px;
    height : auto;
}

.cote_users {
    position: relative;
    width: 100%;
}

.connexion_users, .inscription_users {
    position: absolute;
    
}

.connexion_users {
    top: 0;
    left: 55%;
    background-color: #af8095;

    height: 500px;
    width: 400px;
    text-align: center;
    border: 2px solid #60233f;
    border-radius: 25%;

}

.inscription_users {
    text-align: center;
    top: 0;
    left: 30%;
    background-color: #af8095;
    height: 500px;
    width: 400px;
    border: 2px solid #60233f;
    border-radius: 25%;
}
.inscription_users ::placeholder{
    background-color:whitesmoke;
    color: black;
}

.inscription_users input {
    width: 200px;
    height: 25px;
}

.connexion_users ::placeholder{
    background-color: whitesmoke;
}

.connexion_users input {
    width: 200px;
    height: 25px;
}

.cote_pro{
    position: relative;
    text-align: center;
    background-color: white;
    top: 30px;
    left: 40%;
    width: 300px;
    height: 250px;
    text-align: center;
}

.accueil_pro{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 250px;
    
}

.accueil_pro a {
    color: black;
}


#ajout{
    top:35px;
    position: relative;
    border: 2px solid #60233f;
    background-color: #af8095;
    border-radius: 25%;
    color:#28121c;

    height: 90px;
    width: 220px;
    left: 100px;
    text-align: center;


}

#suppression{
    top:60px;
    position: relative;
    border: #CCC solid 2px;
    border-radius: 25%;
    height: 40px;
    width: 90px;
    left: 100px;
}
#les_animaux{
    position: relative;
    top: 85px;
    border: 2px solid #60233f;
    background-color: #af8095;
    border-radius: 25%;
    height: 90px;
    width: 220px;
    left: 100px;
    color:#28121c;


}
.ajout{
    position: absolute;
    left: 660px;
    font-family:'Courier New';
    color:#28121c;
    border: 2px solid #60233f;
    width: 600px;
    font-size: 20px;
    border-radius: 25%;
    background-color: #af8095;
    top: 90px;
}

.ajout select, input{
    width: 250px; /* Définir la largeur des cases de sélection */
  height: 35x; /* Définir la hauteur des cases de sélection */
  padding: 5px  ; /* Ajouter un espace intérieur aux cases */
  font-size: 16px; /* Définir la taille de la police */

}

.ajout textarea{
    width: 300px; /* Définir la largeur des cases de sélection */
    height: 90px; /* Définir la hauteur des cases de sélection */
    padding: 5px; /* Ajouter un espace intérieur aux cases */
    font-size: 16px; /* Définir la taille de la police */
  
}

.header {
   
    align-items: center;
}
.rectangle{
    position: fixed;
    width: 99%;
    height: 410px;
    top: 200px;
    background-color:#af8095;
}
#image{
    position: relative;
    left: 800px;
    bottom : 320px;
    width: 450px;
    height: auto;
    clip-path:ellipse(35% 50%) ;

}

#nom_animal{
    color : #28121c;
    font-size: 35px;
    bottom: 60px;
    left:50px;
    position: relative;
    font-family:algerian;
}


.description{
    color : #28121c;
    position: relative;
    font-size: 20px;

    left: 90px;
}


#description_animal{
    color: #28121c;
    position: absolute;
    left: 1300px;
    top:60px;
    font-size: 20px;
}


.adoption td, th{
    border: 2px solid #60233f;
    padding: 8px;
    text-align: center;
    max-width: 200px; /* Changer la largeur maximale selon vos besoins */
    overflow: hidden;
    text-overflow: ellipsis;
    color:#28121c;
    font-size: 15px;
    white-space: normal;
    word-wrap: break-word; /* Assurer le passage à la ligne pour les longs mots */
    }



.adoption table{
    border: 2px solid #60233f;
    position: absolute;
    width: 99%;
    color:#28121c;
    border-collapse: collapse;
    background-color: #af8095;
}

.adoption th{
    background-color: #743e57;

}

.adoption a{
    text-decoration: none;
    color:#28121c;
    font-size: 15px;

    font-family:  Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;

}

.infos{
    font-size: 25px;
    
    border: 2px solid #60233f;
    width: 800px;
    position: relative;
    left: 550px;
    top: 350px;
    background-color: #af8095;
    color:#28121c;
    text-align: center;


}

.mes_adoptions {
    position: absolute;
}

.mes_adoptions table{
    border-collapse: separate; /* Séparer les bordures des cellules */
    border-spacing: 20px; /* Espacement entre les cellules */
    
}

.mes_adoptions td {
    text-align: center;
    border-radius: 25%;
    border: 2px solid #60233f;
    width: 400px;
    padding: 5px;
    font-size: 18px;
    background-color: #af8095;

}

.mes_adoptions img{
    width: 400px;
    height: auto;
    border-radius: 28%;
}
.presentation {
    position: absolute;
    left: 1000px;
}

.presentation table {
    border-collapse: separate; /* Séparer les bordures des cellules */
    border-spacing: 20px; /* Espacement entre les cellules */
}

.presentation td {
    text-align: center;
    border-radius: 25%;
    border: 2px solid #60233f;
    width: 400px;
    padding: 5px;
    font-size: 18px;
    background-color: #af8095;


}

.presentation img {
    width: 400px;
    height: auto;
    border-radius: 28%;
}

h1{
    font-size: 40px;
}

#presentation{
    font-size: 20px;
}
